<div class="authentication">
    <div class="row">
        <div class="input-field col s6">
          <input  id="user" type="text" class="validate">
          <label class="active" for="name">Login</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input  id="pwd" type="password" class="validate">
          <label class="active" for="name">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>

</div>

